<h4>CSS3 Introduction</h4>
<a href="#" class="a_left"><span>« Previous</span></a> <%= link_to "Next Chapter »", static_pages_rounded_corners_path, class: "a_right"%>
<p class="team-name">G_class</p>
<%= image_tag("images.jpg", class: "image_dota") %>
<p class="title_css">CSS3 is the latest standard for CSS.</p>
<p class="title_css">CSS3 is completely backwards-compatible with earlier versions of CSS.</p>
<p class="title_css">This section teaches you about the new features in CSS3!</p>
<br>
<div class="br-title"> </div>
<h4>CSS3 Modules</h4>
<p>CSS3 has been split into "modules". It contains the "old CSS specification" (which has been split into smaller pieces). In addition, new modules are added.</p>
<p>
  Some of the most important CSS3 modules are:
</p>
<div class="br-title"> </div>
<ul>
  <li>
    Selectors
  </li>
  <li>
    Box Model
  </li>
  <li>
    Backgrounds and Borders
  </li>
  <li>
    Image Values and Replaced Content
  </li>
  <li>
    Text Effects
  </li>
  <li>
    2D/3D Transformations
  </li>
  <li>
    Animations
  </li>
  <li>
    Multiple Column Layout
  </li>
  <li>
    User Interface
  </li>
</ul>
<p>
  Most of the new CSS3 properties are implemented in modern browsers.
</p>
<a href="#" class="a_left"><span>« Previous</span></a> <%= link_to "Next Chapter »", static_pages_rounded_corners_path, class: "a_right"%>
</div>